/*
  01 SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
          
  02 FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
     
  03 COLOR
  tints:
   - #fae5d3 
   - #e1cebe
  main: #e67e22
  shades: #cf711f
  accents
  greys:
   - #6f6f6f
   - #555
   - #333
   - #343a40

  04 SHADOW
  05 BORDER RADIUS
  06 WHITE SPACES

*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

strong {
  font-weight: 500;
}
